---
import { getCollection } from "astro:content";

import WritingsPage from "$common/WritingsPage.astro";
import EmojiWrapper from "$components/EmojiWrapper.astro";
import Article from "$layouts/Article.astro";
import Section from "$layouts/Section.astro";

function cmp<T extends { data: { date: Date } }>(a: T, b: T) {
    return b.data.date.valueOf() - a.data.date.valueOf();
}

const allEntries = {
    stories: (await getCollection("stories")).sort(cmp),
};

export const defaultDescription = "(no description)";
---

<WritingsPage pageName="The Library" desc="An index into all of my writings, or at least the ones I care enough to format and upload <:">
    <Article>
        <Fragment slot="heading">Writings, blogs, stories and squeaks</Fragment>
        <Section>
            <h2>Stories</h2>

            {
                Object.entries(allEntries).map(([collection, entries]) =>
                    entries.map((entry) => (
                        <EmojiWrapper>
                            <div class="entry-card">
                                <div class="entry-title">
                                    <a href={`${collection}/${entry.id}`}>{entry.data.title}</a>
                                    <aside class="entry-date" data-iso-date={entry.data.date.toISOString()}>
                                        <noscript>{entry.data.date.toLocaleDateString("en-GB", { dateStyle: "long" })}</noscript>
                                    </aside>
                                </div>

                                <div class="entry-content">{entry.data.description || defaultDescription}</div>

                                <footer>
                                    <p>
                                        <em>Authors:</em> {entry.data.authors.join(", ")}
                                    </p>
                                    <p>
                                        <em>Tags:</em> {entry.data.tags.join(", ") || "(none)"}
                                    </p>
                                </footer>
                            </div>
                        </EmojiWrapper>
                    )),
                )
            }

            <script>
                const formatDate = () => {
                    document.querySelectorAll<HTMLElement>(".entry-date").forEach((e) => {
                        const isoDateString = e.dataset["isoDate"];
                        if (!isoDateString) return;

                        const isoDate = new Date(isoDateString);
                        e.innerText = isoDate.toLocaleDateString(navigator.language, { dateStyle: "long" });
                    });
                };

                document.addEventListener("DOMContentLoaded", formatDate);
                window.addEventListener("languagechange", formatDate);
            </script>

            <style>
                .entry-card {
                    width: 100%;
                    height: max-content;
                    background-color: var(--cuteblue800);
                    border-radius: 1rem;
                    border: 3px solid var(--cuteblue600);
                    padding: 1rem;
                }

                .entry-title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 1rem;
                    padding-block: 0.2rem;
                }

                .entry-title a {
                    font-size: 1.55rem;
                    font-family: var(--serif);
                    font-style: oblique;
                }

                @media (max-width: 580px) {
                    .entry-title a {
                        font-size: 1.3rem;
                    }
                }

                .entry-title aside {
                    width: max-content;
                    margin-left: 1rem;

                    text-align: right;
                    text-wrap: stable;

                    font-size: 0.85rem;
                    font-family: var(--mono);
                    color: var(--slate400);
                }

                .entry-content {
                    white-space: pre-line;
                    font-family: var(--sans);
                    font-style: italic;
                    color: var(--lavender200);
                }

                .entry-card footer {
                    margin-top: 1rem;
                    padding-top: 0.5rem;

                    border-top: 1px solid var(--slate600);

                    font-size: 0.85rem;
                    font-family: var(--sans);
                    color: var(--slate400);
                }
            </style>
        </Section>
    </Article>
</WritingsPage>
