---
import { getCollection } from "astro:content";

import WritingsPage from "$common/WritingsPage.astro";
import Article from "$layouts/Article.astro";
import Section from "$layouts/Section.astro";
import WritingEntries from "$layouts/WritingEntries.astro";

export function cmpEntry<T extends { data: { date: Date } }>(a: T, b: T) {
    return b.data.date.valueOf() - a.data.date.valueOf();
}

export async function getWritingEntries() {
    return (await getCollection("writings")).sort(cmpEntry);
}

const entries = await getWritingEntries();
---

<WritingsPage pageName="The Library" desc="An index into all of my writings, or at least the ones I care enough to format and upload <:">
    <Article>
        <Fragment slot="heading">Writings, blogs, stories and squeaks</Fragment>
        <Section>
            <h2>Entries</h2>

            <WritingEntries entries={entries} />
        </Section>
    </Article>
</WritingsPage>
