---
import { getCollection } from "astro:content";

import WritingsPage from "$common/WritingsPage.astro";
import RssIcon from "$components/RssIcon.astro";
import LargeSection from "$layouts/LargeSection.astro";
import Section from "$layouts/Section.astro";
import WritingEntries from "$layouts/WritingEntries.astro";
import { siteDesc } from "$lib/writings";

export function cmpEntry<T extends { data: { date: Date } }>(a: T, b: T) {
    return b.data.date.valueOf() - a.data.date.valueOf();
}

export async function getWritingEntries() {
    return (await getCollection("writings")).sort(cmpEntry);
}

const entries = await getWritingEntries();
---

<WritingsPage pageName="The Library" desc={siteDesc}>
    <Fragment slot="page-title">The Library of Squeaks</Fragment>

    <LargeSection>
        <p class="icons"><RssIcon /></p>
        <style>
            .icons {
                padding-inline: 1.5rem;
            }
        </style>

        <Fragment slot="heading">Writings, blogs, stories and squeaks</Fragment>
        <Section>
            <h2>Entries</h2>

            <WritingEntries entries={entries} />
        </Section>
    </LargeSection>
</WritingsPage>
