---
import WritingsPage from "$common/WritingsPage.astro";
import LargeSection from "$layouts/LargeSection.astro";
import Section from "$layouts/Section.astro";
import WritingEntries from "$layouts/WritingEntries.astro";

import { getWritingEntries } from "../index.astro";

export async function getStaticPaths() {
    return (await getWritingEntries()).flatMap((entry) => {
        return entry.data.tags.map((tag) => {
            return { params: { tag } };
        });
    });
}

const { tag } = Astro.params;

const entries = (await getWritingEntries()).filter((entry) => entry.data.tags.includes(tag));
---

<WritingsPage pageName=`Tag View - '${tag}'` desc="">
    <LargeSection>
        <Fragment slot="heading">Entires tagged '{tag}'</Fragment>
        <Section>
            <h2>Entries</h2>

            <WritingEntries entries={entries} />
        </Section>
    </LargeSection>
</WritingsPage>
