---
import RssSvg from "$assets/icons/rss.svg";
---

<a class="rss-link" href="/rss.xml">
    <label class="sr-only">Subscribe to the Squeakenings (RSS)</label>
    <RssSvg class="rss-icon" role="img" aria-hidden="true" width={32} height={32} />
</a>

<style>
    a {
        display: inline-block;

        width: 32px;
        height: 32px;
    }

    .rss-icon {
        --glow-blur-size: 2px;

        color: #ffc760;
        transition: filter 0.2s;
        filter: drop-shadow(0px 0px var(--glow-blur-size));
    }

    .rss-icon:hover,
    .rss-link:focus > .rss-icon {
        filter: drop-shadow(0px 0px var(--glow-blur-size)) drop-shadow(0px 0px 6px #ffc76050);
    }
</style>
