---
import RssSvg from "$assets/icons/rss.svg";
---

<a href="/rss.xml">
    <label class="sr-only">Subscribe to the Squeakenings (RSS)</label>
    <RssSvg width={32} height={32} class="rss-icon" role="img" />
</a>

<style>
    a {
        height: auto;
        display: inline-block;
        line-height: 0;
    }

    .rss-icon {
        color: rgb(255, 199, 96);
    }
</style>
