---
import MainPage from "$common/MainPage.astro";
import Article from "$layouts/Article.astro";
import Section from "$layouts/Section.astro";
import AboutMe from "$layouts/sections/AboutMe.astro";
import ColorCards from "$layouts/sections/ColorCards.astro";
import Contacts from "$layouts/sections/Contacts.astro";
import Facts from "$layouts/sections/Facts.astro";
import Intro from "$layouts/sections/Intro.astro";
import Nowplaying from "$layouts/sections/Nowplaying.astro";
import Quotes from "$layouts/sections/Quotes.astro";
import Transcube from "$layouts/widgets/Transcube.astro";
---

<MainPage>
    <Fragment slot="nav:page-links">
        <a href="#intro">About Me</a>
        <a href="#contacts">Contacts</a>
        <a href="#quotes">Quotes</a>
        <a href="#gadgets">Gadgets</a>
    </Fragment>

    <Fragment slot="nav:footer">
        <Transcube />
    </Fragment>

    <Article>
        <Fragment slot="heading">
            The <i>Squeaky</i> One
        </Fragment>

        <Section>
            <Intro />
        </Section>

        <Section>
            <AboutMe />
            <hr />
            <Facts />
        </Section>

        <Section>
            <Contacts />

            <hr />

            <Quotes />
        </Section>
    </Article>

    <Article heading={{ id: "gadgets" }}>
        <Fragment slot="heading">Gadgets</Fragment>

        <div class="group">
            <div class="js-inherit">
                <Section>
                    <ColorCards />
                </Section>
            </div>

            <div class="js-inherit">
                <Section>
                    <Nowplaying />
                </Section>
            </div>
        </div>
    </Article>

    <style>
        .group {
            width: 100%;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap-reverse;
            justify-content: stretch;
            align-items: stretch;

            padding: 1.25rem;
            padding-top: 0;
            gap: 1.5rem;
        }

        .group > * {
            flex: min-content;
            width: fit-content;
            max-width: 100%;
        }

        .group > * > :global(*) {
            margin: 0;
        }
    </style>
</MainPage>
