---
import Page from "$layouts/Page.astro";
import Section from "$layouts/Section.astro";
import Navigation from "$layouts/widgets/Navigation.astro";
---

<Page title="Not Found">
    <slot name="nav" slot="nav">
        <Navigation>
            <slot name="nav:page-links" slot="nav:page-links" />
            <slot name="nav:other-categories" slot="nav:other-categories" />
            <slot name="nav:misc-links" slot="nav:misc-links" />
            <slot name="nav:footer" slot="nav:footer" />
        </Navigation>
    </slot>

    <Section>
        <h1>404 Not Found</h1>

        <p>
            what the hell… here's a link to
            <a href="../"><code>[GO BACK]</code></a>
        </p>
        <p>
            and here's a link to
            <a href="/"><code>[GO HOME]</code></a>
        </p>
    </Section>
</Page>
