---
import type { HTMLAttributes } from "astro/types";
import { getEntry } from "astro:content";

import { getEmojiName } from "$lib/emoji";
import { renderSvg } from "$lib/render-svg";

export type Props = HTMLAttributes<"span"> & {
    e: string;
    width?: string | number | undefined;
    height?: string | number | undefined;
};

const { e, width, height, "aria-hidden": ariaHidden, class: cls, ...props } = Astro.props;

const name = getEmojiName(e);
const emojiEntry = await getEntry("emojis", name);
const emoji = renderSvg(emojiEntry?.data.src, {
    "aria-hidden": "true",
    id: undefined,
    width: width ?? "1.2em",
    height: height ?? "1.2em",
});
---

<span {...props} aria-hidden={(ariaHidden ?? "true") ? "true" : undefined} class:list={["emoji", cls]}>
    <span data-emoji="true">{e}</span>
    <Fragment set:html={emoji} />
</span>

<style>
    .emoji {
        display: inline-block;
        position: relative;
        width: auto;
        height: auto;
        vertical-align: center;
    }

    .emoji :global(svg) {
        display: inline-block;
        vertical-align: text-bottom;
    }

    .emoji span {
        position: absolute;
        opacity: 0;
        font-size: 1px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
</style>
