---
import Section from "$layouts/Section.astro";
---

<Section>
    <h2>404 Not Found</h2>

    <p>
        what the hell… here's a link to
        <a class="mono" href="../">[GO BACK]</a>
    </p>
    <p>
        and here's a link to
        <a class="mono" href="/">[GO HOME]</a>
    </p>
</Section>
