---
import nowplaying from "$assets/nowplaying.html";
import { cuteblue600, cuteblue800 } from "$lib/colors";
---

<div class="text-center js-necessary">
    <p>what the mouse listening to !?</p>
    <p>
        <small> (it shows whatever i'm listening to on my computer!!!) </small>
    </p>

    <div class="nowplaying">
        <div id="nowplaying-widget"></div>
        <div id="nowplaying-widget-loader" hidden set:html={nowplaying({})} />
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const nowplayingWidget = document.getElementById("nowplaying-widget")!;
        const nowplayingWidgetLoader = document.getElementById("nowplaying-widget-loader")!;

        nowplayingWidget.attachShadow({ mode: "open" });

        if (nowplayingWidget.shadowRoot) {
            nowplayingWidget.shadowRoot.replaceChildren(...nowplayingWidgetLoader.childNodes);

            nowplayingWidgetLoader.remove();
        }
    });
</script>

<style define:vars={{ bgColor: cuteblue800, borderColor: cuteblue600 }}>
    .nowplaying {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        margin-inline: auto;
        background-color: var(--bgColor);

        padding: 1.35rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;

        border: 2px dashed var(--borderColor);
    }

    #nowplaying-widget {
        width: 400px;
        height: 200px;
    }

    #nowplaying-widget-loader {
        width: 0;
        height: 0;
        display: none;
        visibility: hidden;
    }
</style>
