@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-Thin.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 100;
    font-stretch: expanded;
    font-style: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedThin.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedThin.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 100;
    font-stretch: normal;
    font-style: oblique;
    src:
        url("WOFF2/IosevkaCurlySlab-ThinOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ThinOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web Oblique";
    font-display: swap;
    font-weight: 100;
    font-stretch: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-ThinOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ThinOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 100;
    font-stretch: expanded;
    font-style: oblique;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedThinOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedThinOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web Oblique";
    font-display: swap;
    font-weight: 100;
    font-stretch: expanded;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedThinOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedThinOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 100;
    font-stretch: normal;
    font-style: italic;
    src:
        url("WOFF2/IosevkaCurlySlab-ThinItalic.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ThinItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 100;
    font-stretch: expanded;
    font-style: italic;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedThinItalic.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedThinItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtraLight.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 200;
    font-stretch: expanded;
    font-style: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedExtraLight.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 200;
    font-stretch: normal;
    font-style: oblique;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtraLightOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtraLightOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web Oblique";
    font-display: swap;
    font-weight: 200;
    font-stretch: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtraLightOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtraLightOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 200;
    font-stretch: expanded;
    font-style: oblique;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedExtraLightOblique.woff2")
            format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedExtraLightOblique.ttf")
            format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web Oblique";
    font-display: swap;
    font-weight: 200;
    font-stretch: expanded;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedExtraLightOblique.woff2")
            format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedExtraLightOblique.ttf")
            format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 200;
    font-stretch: normal;
    font-style: italic;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtraLightItalic.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 200;
    font-stretch: expanded;
    font-style: italic;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedExtraLightItalic.woff2")
            format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedExtraLightItalic.ttf")
            format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-Light.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 300;
    font-stretch: expanded;
    font-style: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedLight.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedLight.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 300;
    font-stretch: normal;
    font-style: oblique;
    src:
        url("WOFF2/IosevkaCurlySlab-LightOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-LightOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web Oblique";
    font-display: swap;
    font-weight: 300;
    font-stretch: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-LightOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-LightOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 300;
    font-stretch: expanded;
    font-style: oblique;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedLightOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedLightOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web Oblique";
    font-display: swap;
    font-weight: 300;
    font-stretch: expanded;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedLightOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedLightOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 300;
    font-stretch: normal;
    font-style: italic;
    src:
        url("WOFF2/IosevkaCurlySlab-LightItalic.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 300;
    font-stretch: expanded;
    font-style: italic;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedLightItalic.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-Regular.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 400;
    font-stretch: expanded;
    font-style: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-Extended.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-Extended.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: oblique;
    src:
        url("WOFF2/IosevkaCurlySlab-Oblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-Oblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web Oblique";
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-Oblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-Oblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 400;
    font-stretch: expanded;
    font-style: oblique;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web Oblique";
    font-display: swap;
    font-weight: 400;
    font-stretch: expanded;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: italic;
    src:
        url("WOFF2/IosevkaCurlySlab-Italic.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 400;
    font-stretch: expanded;
    font-style: italic;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedItalic.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-Medium.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 500;
    font-stretch: expanded;
    font-style: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedMedium.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedMedium.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 500;
    font-stretch: normal;
    font-style: oblique;
    src:
        url("WOFF2/IosevkaCurlySlab-MediumOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-MediumOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web Oblique";
    font-display: swap;
    font-weight: 500;
    font-stretch: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-MediumOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-MediumOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 500;
    font-stretch: expanded;
    font-style: oblique;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedMediumOblique.woff2")
            format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedMediumOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web Oblique";
    font-display: swap;
    font-weight: 500;
    font-stretch: expanded;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedMediumOblique.woff2")
            format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedMediumOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 500;
    font-stretch: normal;
    font-style: italic;
    src:
        url("WOFF2/IosevkaCurlySlab-MediumItalic.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 500;
    font-stretch: expanded;
    font-style: italic;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedMediumItalic.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedMediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-SemiBold.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 600;
    font-stretch: expanded;
    font-style: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedSemiBold.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedSemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 600;
    font-stretch: normal;
    font-style: oblique;
    src:
        url("WOFF2/IosevkaCurlySlab-SemiBoldOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-SemiBoldOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web Oblique";
    font-display: swap;
    font-weight: 600;
    font-stretch: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-SemiBoldOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-SemiBoldOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 600;
    font-stretch: expanded;
    font-style: oblique;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedSemiBoldOblique.woff2")
            format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedSemiBoldOblique.ttf")
            format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web Oblique";
    font-display: swap;
    font-weight: 600;
    font-stretch: expanded;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedSemiBoldOblique.woff2")
            format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedSemiBoldOblique.ttf")
            format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 600;
    font-stretch: normal;
    font-style: italic;
    src:
        url("WOFF2/IosevkaCurlySlab-SemiBoldItalic.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 600;
    font-stretch: expanded;
    font-style: italic;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedSemiBoldItalic.woff2")
            format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedSemiBoldItalic.ttf")
            format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-Bold.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 700;
    font-stretch: expanded;
    font-style: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedBold.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedBold.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: oblique;
    src:
        url("WOFF2/IosevkaCurlySlab-BoldOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-BoldOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web Oblique";
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-BoldOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-BoldOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 700;
    font-stretch: expanded;
    font-style: oblique;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedBoldOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedBoldOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web Oblique";
    font-display: swap;
    font-weight: 700;
    font-stretch: expanded;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedBoldOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedBoldOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 700;
    font-stretch: normal;
    font-style: italic;
    src:
        url("WOFF2/IosevkaCurlySlab-BoldItalic.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 700;
    font-stretch: expanded;
    font-style: italic;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedBoldItalic.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtraBold.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 800;
    font-stretch: expanded;
    font-style: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedExtraBold.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 800;
    font-stretch: normal;
    font-style: oblique;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtraBoldOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtraBoldOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web Oblique";
    font-display: swap;
    font-weight: 800;
    font-stretch: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtraBoldOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtraBoldOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 800;
    font-stretch: expanded;
    font-style: oblique;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedExtraBoldOblique.woff2")
            format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedExtraBoldOblique.ttf")
            format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web Oblique";
    font-display: swap;
    font-weight: 800;
    font-stretch: expanded;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedExtraBoldOblique.woff2")
            format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedExtraBoldOblique.ttf")
            format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 800;
    font-stretch: normal;
    font-style: italic;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtraBoldItalic.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 800;
    font-stretch: expanded;
    font-style: italic;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedExtraBoldItalic.woff2")
            format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedExtraBoldItalic.ttf")
            format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-Heavy.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-Heavy.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 900;
    font-stretch: expanded;
    font-style: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedHeavy.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedHeavy.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 900;
    font-stretch: normal;
    font-style: oblique;
    src:
        url("WOFF2/IosevkaCurlySlab-HeavyOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-HeavyOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web Oblique";
    font-display: swap;
    font-weight: 900;
    font-stretch: normal;
    src:
        url("WOFF2/IosevkaCurlySlab-HeavyOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-HeavyOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 900;
    font-stretch: expanded;
    font-style: oblique;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedHeavyOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedHeavyOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web Oblique";
    font-display: swap;
    font-weight: 900;
    font-stretch: expanded;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedHeavyOblique.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedHeavyOblique.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 900;
    font-stretch: normal;
    font-style: italic;
    src:
        url("WOFF2/IosevkaCurlySlab-HeavyItalic.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-HeavyItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Iosevka Curly Slab Web";
    font-display: swap;
    font-weight: 900;
    font-stretch: expanded;
    font-style: italic;
    src:
        url("WOFF2/IosevkaCurlySlab-ExtendedHeavyItalic.woff2") format("woff2"),
        url("TTF/IosevkaCurlySlab-ExtendedHeavyItalic.ttf") format("truetype");
}
