<div class="gaysphere-container">
    <p>Gay Ball</p>

    <label class="sr-only">A 3 dimensional sphere with rainbow colours and starry patterns, infinitely rotating in a symmetrical manner.</label>

    <!-- Thanks https://dev.to/mackfitz/the-geodesic-sphere-1oi1 for this positively horrible thing! <3 -->
    <div role="img" class="gaysphere">
        <div class="scene">
            <div class="anim" style="animation: 4s linear infinite rotate; transform: rotate3d(1, 0, 0, 45deg)">
                <div class="anim" style="animation: 6s linear infinite rotate; transform: rotate3d(0, 1, 0, 90deg)">
                    <div class="anim" style="animation: 8s linear infinite rotate; transform: rotate3d(0, 0, 1, 135deg)">
                        <div class="geodesic">
                            <div class="pentagon side">
                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>
                            </div>

                            <div class="pentagon side">
                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>
                            </div>

                            <div class="pentagon side">
                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>
                            </div>

                            <div class="pentagon side">
                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>
                            </div>

                            <div class="pentagon side">
                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>
                            </div>

                            <div class="pentagon side">
                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>
                            </div>

                            <div class="pentagon side">
                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>
                            </div>

                            <div class="pentagon side">
                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>
                            </div>

                            <div class="pentagon side">
                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>
                            </div>

                            <div class="pentagon side">
                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>
                            </div>

                            <div class="pentagon lid">
                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>
                            </div>

                            <div class="pentagon lid">
                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>

                                <div class="quarter1">
                                    <div class="quarter2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    @media (prefers-reduced-motion) {
        .gaysphere-container {
            display: none;
        }
    }

    .gaysphere {
        display: flex;
        justify-content: center;
        align-items: center;

        min-width: calc(var(--s) * 2);
        min-height: calc(var(--s) * 2);
        height: auto;

        margin-block: 1.5rem;
        margin-inline: 0.5rem;

        user-select: none;

        transition: filter 0.5s ease;
    }

    .gaysphere:hover {
        filter: drop-shadow(0px 0px calc(var(--s) / 12) rgba(255, 255, 255, 0.25)) drop-shadow(0px 0px calc(var(--s) / 8) rgba(255, 255, 255, 0.5))
            drop-shadow(0px 0px calc(var(--s) / 6) rgba(255, 255, 255, 0.75));
    }

    .anim {
        width: 100%;
        height: 100%;

        transform-style: preserve-3d;
        backface-visibility: hidden;
        animation-composition: add;
    }
</style>

<style>
    .scene {
        height: 100em;
        aspect-ratio: 1;

        border-radius: 9999px;
        background-color: #4444;
        filter: drop-shadow(0 0 3em #000);

        --ngon: 5;
        --pentAngle: calc(360deg/var(--ngon));
        --r3gon: 1;
        --h3gon2: calc(cos(var(--pentAngle)/2) * var(--r3gon));
        --a3gon2: calc(2 * sin(var(--pentAngle)/2) * var(--r3gon));
        --h5gon: calc(var(--r3gon) + var(--h3gon2));
        --sideH: calc(sin(var(--pentAngle)) * var(--a3gon2));
        --medianH5side: calc((var(--h5gon) + var(--sideH)) / 2);
        --medRatio: calc(var(--medianH5side)/var(--h5gon));
        --pyrAngle: calc(asin(var(--h3gon2)/var(--h5gon))); /* 26.565051177078deg - angle of inclination of the side faces of the dodecahedron */
        --pyrH: calc(cos(var(--pyrAngle)) * var(--h5gon));
        --dodecaH: calc(2 * var(--pyrH) * var(--medRatio));
        --centrAngle: atan(calc(var(--r3gon)/calc(var(--dodecaH)/2))); /* angle between the center of the dodecahedron and any pentagon's corner */
        --r5gon: calc(sin(var(--centrAngle)) * 50); /* 30.3530999103 - radius of the pentagon */
        --offset5gon: calc(cos(var(--centrAngle)) * 50); /* 39.7327236146em - distance of the pentagon from the center */
        --a3gon: calc(2 * sin(36deg) * var(--r5gon)); /* 35.6822089773 - the length of one of the pentagon's edges*/
        --h3gon: calc(cos(36deg) * var(--r5gon)); /* 24.5561736594  - the length of one of the pentagon's edges*/
    }

    .scene *,
    .scene *::before {
        position: absolute;
        transform-style: preserve-3d;
    }

    .geodesic {
        inset: 0;
        animation: spin 0s linear infinite;
    }

    .pentagon {
        inset: 0;
        display: grid;
        justify-items: center;
    }

    .pentagon:nth-child(2n + 1) {
        --pentaDir: 1;
    }

    .pentagon:nth-child(2n) {
        --pentaDir: -1;
    }

    .side {
        transform: rotateX(calc(var(--sideStep) * 72deg + 18deg * (1 + var(--pentaDir)))) rotate(calc(var(--pyrAngle) * var(--pentaDir)))
            rotateY(calc(90deg * (1 - var(--pentaDir))));
    }

    .side:nth-child(1),
    .side:nth-child(2) {
        --sideStep: 0;
    }

    .side:nth-child(3),
    .side:nth-child(4) {
        --sideStep: 1;
    }

    .side:nth-child(5),
    .side:nth-child(6) {
        --sideStep: 2;
    }

    .side:nth-child(7),
    .side:nth-child(8) {
        --sideStep: 3;
    }

    .side:nth-child(9),
    .side:nth-child(10) {
        --sideStep: 4;
    }

    .pentagon:nth-child(11),
    .pentagon:nth-child(12) {
        --sideStep: 5;
    }

    .lid {
        rotate: calc(90deg * var(--pentaDir));
    }

    .pentagon div {
        backface-visibility: hidden;
    }

    .quarter1 {
        --horizQ1: calc(50 * sin(var(--centrAngle)/2)); /* 16.0212955043 */
        --vertiQ1: calc(50 * cos(var(--centrAngle)/2)); /* 47.3636790206 */
        --q1sideAngle: atan(calc((50 - var(--vertiQ1)) / var(--horizQ1))); /* 9.34434203deg */
        --q1side: calc(1/cos(var(--q1sideAngle)) * var(--horizQ1)); /* 16.2364519805 */
        --hq1r5Ratio: calc(var(--horizQ1)/var(--r5gon)); /* 16.0212955043 / 30.3530999103 = 0.52783061867 */
        --q1width: calc(var(--a3gon) * var(--hq1r5Ratio)); /* 35.6822089773 * 0.52783061867 = 18.83416244 */
        --q1innerAngle: asin(calc((var(--q1width)/2) / var(--q1side))); /* asin((18.83416244/2)/16.2364519805) = 35.4502787deg */
        --q1height: calc(cos(var(--q1innerAngle)) * var(--q1side)); /* cos35.4502787deg * 16.2364519805em = 13.2265246464em */
        --q1inclineAngle: acos(calc((50 - var(--vertiQ1)))/var(--q1height)); /* asin((50-47.3636790206)/13.2265246464) */

        width: calc(var(--q1width) * 1em);
        height: calc(var(--q1height) * 1em);

        transform-origin: 50% 0;
        transform: rotateY(calc(var(--secStep) * 72deg + 90deg)) rotateX(var(--q1inclineAngle));

        background-image: conic-gradient(
            from calc(180deg - var(--q1innerAngle)) at 50% -2%,
            hsl(calc(72deg * (var(--secStep) + 1)) 100% 50%),
            hsl(calc(72deg * var(--secStep)) 100% 50%) calc(var(--q1innerAngle) * 2),
            #0000 calc(var(--q1innerAngle) * 2)
        );
    }

    .quarter1:nth-of-type(1) {
        --secStep: 0;
    }

    .quarter1:nth-of-type(2) {
        --secStep: 1;
    }

    .quarter1:nth-of-type(3) {
        --secStep: 2;
    }

    .quarter1:nth-of-type(4) {
        --secStep: 3;
    }

    .quarter1:nth-of-type(5) {
        --secStep: 4;
    }

    .quarter2 {
        --squishedAngle: atan(calc(var(--h3gon)/var(--offset5gon))); /* atan(24.5561736594/39.7327236146em) = 31.7174744 */
        --horizQ2: calc(50 * sin(var(--squishedAngle))); /* 50*sin31.7174744deg = 26.2865555974  */
        --vertiQ2: calc(50 * cos(var(--squishedAngle))); /* 50*cos31.7174744deg = 42.5325404229  */
        --deltaHorizQ12: calc(var(--horizQ2) - var(--horizQ1) * cos(36deg)); /* 26.2865555974 - 16.0212955043*0.80901699437 = 13.3250552625 */
        --deltaVertQ12: calc(var(--vertiQ1) - var(--vertiQ2)); /*4.8311385977*/
        --q2inclineAngle: atan(calc(var(--deltaVertQ12)/var(--deltaHorizQ12))); /* atan(4.8311385977/13.3250552625) = 19.928644deg */
        --q2height: calc(1/cos(var(--q2inclineAngle)) * var(--deltaHorizQ12)); /* 14.1738138092 */
        --q2innerAngle: atan(calc((var(--q1width)/2) / var(--q2height))); /* atan (18.83416244/2)/14.1738138092 = 33.5998335deg */
        --q2side: calc(1/cos(var(--q2innerAngle)) * var(--q2height)); /* 1/cos33.5998335deg*14.1738138092 = 17.0169588081 */

        width: 100%;
        height: calc(var(--q2height) * 1em); /* 14.12em */
        top: 95%;
        transform-origin: 50% 0;

        background-image: conic-gradient(
            from calc(0deg - var(--q2innerAngle)) at 50% 105%,
            hsl(calc(72deg * var(--secStep)) 100% 50%),
            hsl(calc(72deg * (var(--secStep) + 1)) 100% 50%) calc(var(--q2innerAngle) * 2),
            #0000 calc(var(--q2innerAngle) * 2)
        );
        rotate: x calc(-1 * var(--q1inclineAngle) + 90deg - var(--q2inclineAngle));
    }
</style>

<style define:vars={{ size: "96px" }}>
    .gaysphere {
        --s: var(--size);
        font-size: 8.5%;
    }

    @media (max-width: 1300px) {
        .gaysphere {
            --s: calc(var(--size) / 1.5);
            font-size: 6.5%;
        }
    }
</style>
