<ul>
    <li>
        <a href="/">Stella Sparkles</a> 🐭
        <small>(mouse/it/they)</small> 🩷
    </li>
    <li>
        Lavender Sparkles 🦇
        <small>(she/they)</small> 🤎
    </li>
    <li>
        Azalea Sparkles 🐈
        <small>(it/she)</small> 🤍
    </li>
    <li>
        Petals 🦌
        <small>(she/it)</small> 💛
    </li>
    <li>
        Mary 🐇
        <small>(she/her)</small> 🧡
    </li>
</ul>
