---
import Emoji from "$components/Emoji.astro";
---

<ul>
    <li>
        <a href="/">Stella Sparkles</a>

        <Emoji e="🐭" />
        <small>(mouse/it/they)</small>
        <Emoji e="🩷" />
    </li>
    <li>
        Lavender Sparkles

        <Emoji e="🦇" />
        <small>(she/they)</small>
        <Emoji e="🤎" />
    </li>
    <li>
        Azalea Sparkles

        <Emoji e="🐈" />
        <small>(it/she)</small>
        <Emoji e="🤍" />
    </li>
    <li>
        Petals

        <Emoji e="🦌" />
        <small>(she/it)</small>
        <Emoji e="💛" />
    </li>
    <li>
        Mary

        <Emoji e="🐇" />
        <small>(she/her)</small>
        <Emoji e="🧡" />
    </li>
</ul>
