---
import SiteNavControls from "$layouts/widgets/SiteNavControls.astro";
import { lavender600, lavender800, slate200, slate600, space500, space800, space900 } from "$lib/colors";

let pageLinks = undefined;
if (Astro.slots.has("nav:page-links")) {
    pageLinks = await Astro.slots.render("nav:page-links");
}
---

<nav>
    <div>
        <p>Main Site</p>
        <div>
            <a href="https://sqky.one/#">Home</a>
            <a href="https://writing.sqky.one/#">Writings</a>
        </div>
    </div>

    {
        pageLinks && (
            <div>
                <p>This Page</p>
                <div>
                    <Fragment set:html={pageLinks} />
                </div>
            </div>
        )
    }

    <SiteNavControls />

    <slot name="nav:other-categories" />

    <div>
        <p>Misc</p>
        <div>
            <a href="https://the.sqky.one/#">Files Archive</a>
            <a href="https://status.sqky.one/">Uptime Status</a>
            <slot name="nav:misc-links" />
        </div>
    </div>

    <slot name="nav:footer" />
</nav>

<style
    define:vars={{
        bgColor: lavender800,
        borderColor: lavender600,
        linkBorderColor: space500,
        linkBgColor: space900,
        linkBgColorActive: space800,
        textBgColor: slate600,
        textBorderColor: slate200,
    }}
>
    nav {
        display: flex;
        position: sticky;

        overflow: scroll;

        top: 0;
        left: 0;

        flex: fit-content;
        flex-wrap: nowrap;

        background-color: var(--bgColor);

        backdrop-filter: blur(2px);
        box-shadow:
            0px 0px 6px 3px rgba(0, 0, 0, 0.5),
            inset 0px 0px 3px 2px rgba(90, 90, 160, 0.2);
    }

    nav > :global(div) > :global(p),
    nav > :global(div) > :global(a) {
        display: block;

        width: max-content;
        height: min-content;

        text-wrap: stable;
    }

    nav > :global(div) > :global(p) {
        width: 100%;

        margin: 0;
        padding-block: 0.3rem;

        border-bottom: 2px solid var(--textBorderColor);
        background-color: var(--textBgColor);

        text-align: center;
    }

    nav > :global(div) :global(a) {
        padding: 0.15rem;

        border: 1px solid var(--linkBorderColor);
        background-color: var(--linkBgColor);
    }

    nav > :global(div) :global(a::before) {
        content: "|> ";
    }

    nav > :global(div) :global(a:hover),
    nav > :global(div) :global(a:focus) {
        background-color: var(--linkBgColorActive);
    }

    nav {
        margin-right: 1.75rem;
        padding: 0;

        min-width: 320px;
        max-width: 320px;
        height: 100dvh;

        border: none;
        border: 3px solid var(--borderColor);
        border-block: none;
    }

    nav {
        flex-direction: column;
        padding-inline: none;
    }

    nav > :global(div) {
        border: none;
        border-top: 2px solid var(--textBorderColor);
    }

    nav > :global(div:first-of-type) {
        border-top: none;
        border-left: none;
    }

    nav > :global(div) > :global(div) {
        display: flex;

        width: 100%;

        padding: 1rem;

        flex-wrap: wrap;
        justify-content: space-around;
        align-items: start;
        gap: 0.5rem;
    }

    @media (max-width: 1200px) {
        nav {
            position: static;

            margin-inline: 0;
            padding: 0;

            min-width: unset;
            max-width: unset;
            width: 100%;
            height: 160px;

            border: none;
            border: 3px solid var(--borderColor);
            border-top: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        nav {
            flex-direction: row;
        }

        nav > :global(div) {
            width: 100%;
            height: auto;

            border: none;
            border-left: 2px solid var(--textBorderColor);
        }
    }
</style>
