---
import Emoji from "$components/Emoji.astro";
---

<div>
    <p>Navigation</p>
    <div>
        <a href="../">Back up <Emoji e="⬆️" /></a>
        <a href="/">Back to root <Emoji e="⤴️" /></a>
    </div>
</div>
