---
import Section from "$layouts/Section.astro";

export const pageName = "[NOT FOUND]";
---

<Section>
    <h1>404 Not Found</h1>

    <p>
        what the hell… here's a link to
        <a href="../"><code>[GO BACK]</code></a>
    </p>
    <p>
        and here's a link to
        <a href="/"><code>[GO HOME]</code></a>
    </p>
</Section>
