---
import type { HTMLAttributes } from "astro/types";

import { space700, space900 } from "$lib/colors";

type Props = HTMLAttributes<"section">;

export const sectionColors = { bgColor: space900, borderColor: space700 };

const { ...props } = Astro.props;
---

<section {...props}>
    <slot />
</section>

<style define:vars={{ ...sectionColors }}>
    section {
        height: fit-content;

        padding: 1.25rem;

        border: 2px var(--borderColor) solid;
        border-radius: 0.3rem;
        background-color: var(--bgColor);

        backdrop-filter: blur(2px);
        box-shadow:
            0px 0px 6px 3px rgba(0, 0, 0, 0.5),
            inset 0px 0px 3px 2px rgba(90, 90, 160, 0.2);

        overflow: auto;
    }
</style>
