---
import P from "$common/404.astro";
import SiteNavControls from "$components/SiteNavControls.astro";
---

<P>
    <Fragment slot="nav:other-categories">
        <SiteNavControls />
    </Fragment>
</P>
